<div>
    <h3 class="title">Obliczanie macierzy BLOSUM</h3>
</div>
<div id="dialog-sequence" title="Podaj sekwencje">
    <p>Podaj sekwencje:</p>


    <table class="seq-input">
        <tr>
            <td><input ng-model="inputSequence"/></td>
            <td class="ui-state-default ui-corner-all" ng-click="addSequence()"><span class="ui-icon ui-icon-circle-check"></span></td>
        </tr>
        <tr class="ui-widget-content ui-corner-all" ng-repeat="seq in sequences track by $index">
            <td>{{ seq }}</td>
            <td class="ui-state-default ui-corner-all" ng-click="removeSequence($index)"><span class="ui-icon ui-icon-trash"></span></td>
         </tr>
    </table>
    <p></p>
    <div id="files">
        <input type="file" id="file" name=""/>
    </div>
    <button id="fakefile">Wczytaj z pliku</button>
    <p></p>
    <form action="#/stage">
        <button id="button-calculate">Oblicz</button>
    </form>
</div>

<div id="dialog-incorrect-size" class="dialog" title="Niepoprawna długość sekwencji">
    Wszystkie sekwencje muszą być tej samej długości!
</div>
<div id="dialog-already-exists" class="dialog" title="Duplikat">
    Podana sekwencja już istnieje!
</div>