<div id="stage-content">
    <h3 class="title">Obliczanie macierzy BLOSUM</h3>
    <table id="stage-table">
        <tr class="ui-state-default">
            <td>Sekwencje</td>
            <td>Macierze wejściowe</td>
            <td>Macierz wyjściowa</td>
        </tr>
        <tr>
            <td>
                <p class="p-seq ui-state-default ui-corner-all" ng-repeat="seq in sequences track by $index">{{ seq }}</p>

                <button ng-click="changeSeqs()">Zmień sekwencje<span class="ui-icon ui-icon-refresh" style="display: inline-block"></span></button>
            </td>
            <td>
                <div ng-repeat="uiMatrix in uiMatricesOnLeft">
                    <p>{{uiMatrix.description}}</p>
                    <table class="matrix-table">
                        <tr>
                            <td class="ui-state-default"></td>
                            <td class="ui-state-default" ng-repeat="name in colsNames">
                                {{ name }}
                            </td>
                        </tr>
                        <tr ng-repeat="row in uiMatrix.matrix track by $index">
                            <td class="ui-state-default">{{getRowsNames(uiMatrix)[$index]}}</td>
                            <td class="ui-widget-content" ng-repeat="cell in row track by $index">{{ writeNumber(cell)
                                }}
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div>
                    <p>{{uiMatrixOnRight.description}}</p>
                    <table class="matrix-table">
                        <tr>
                            <td class="ui-state-default"></td>
                            <td class="ui-state-default" ng-repeat="name in colsNames">
                                {{ name }}
                            </td>
                        </tr>
                        <tr ng-repeat="row in uiMatrixOnRight.matrix track by $index"
                            ng-show="$index + 1 < rowsInCurrentStep()">
                            <td class="ui-state-default">{{rightRowsNames[$index]}}</td>
                            <td class="ui-widget-content" ng-repeat="cell in row track by $index">
                                {{ writeNumber(cell) }}
                            </td>
                        </tr>
                        <tr ng-repeat="row in uiMatrixOnRight.matrix track by $index"
                            ng-show="$index + 1 == rowsInCurrentStep()">
                            <td class="ui-state-default">{{rightRowsNames[$index]}}</td>
                            <td class="rmatrix-cell-standard, ui-widget-content" ng-repeat="cell in row track by $index"
                                ng-show="$index + 1 < colsInLastRow()">
                                {{ writeNumber(cell) }}
                            </td>
                            <td class="rmatrix-cell-current" ng-repeat="cell in row track by $index"
                                ng-show="$index + 1 == colsInLastRow()">
                                {{ writeNumber(cell) }}
                            </td>
                            <td class="ui-widget-content" ng-repeat="cell in row track by $index"
                                ng-show="$index + 1 > colsInLastRow()">

                        </tr>
                        <tr ng-repeat="row in uiMatrixOnRight.matrix track by $index"
                            ng-show="$index + 1 > rowsInCurrentStep()">
                            <td class="ui-state-default">{{rightRowsNames[$index]}}</td>
                            <td class="ui-widget-content" ng-repeat="cell in row track by $index">
                            </td>
                        </tr>
                    </table>
                    <p></p>
                    <div class="description">
                        <p>{{uiMatrixOnRight.hints[rowsInCurrentStep()-1][colsInLastRow()-1]}}</p>
                    </div>
                </div>
            </td>

        </tr>
    </table>
    <p></p>
    <div class="progressbar" id="stage-progressbar">
        <div class="progress-label">Etap {{stageId}}: {{stageName}}</div>
    </div>
    <p></p>
    <div class="progressbar" id="step-progressbar">
        <div class="progress-label">Krok: {{currentStep}} / {{stepCount}}</div>
    </div>
    <p></p>

    <div class="control-buttons">
        <button ng-click="prevStage()"><span class="ui-icon ui-icon-arrow-1-w" style="display: inline-block"></span>Poprzedni etap</button>
        <button ng-click="prevStep()"><span class="ui-icon ui-icon-triangle-1-w" style="display: inline-block"></span>Poprzedni krok</button>
        <button ng-click="nextStep()">Następny krok<span class="ui-icon ui-icon-triangle-1-e" style="display: inline-block"></span></button>
        <button ng-click="nextStage()">Następny etap<span class="ui-icon ui-icon-arrow-1-e" style="display: inline-block"></span></button>
    </div>
</div>