<div>
    <p>Sekwencje: </p>
    <ul>
        <li ng-repeat="seq in sequences track by $index">{{ seq }}</li>
    </ul>
    <p>Etap {{stageId}}</p>
    <div ng-repeat="uiMatrix in uiMatricesOnLeft">
        <p>{{uiMatrix.description}}</p>
        <table>
            <tr ng-repeat="row in uiMatrix.matrix track by $index">
                <td ng-repeat="cell in row track by $index">{{ cell }}</td>
            </tr>
        </table>
    </div>
    <hr/>
    <div>
        <p>{{uiMatrixOnRight.description}}</p>
        <table>
            <tr ng-repeat="row in uiMatrixOnRight.matrix track by $index">
                <td ng-repeat="cell in row track by $index">{{ cell }}</td>
            </tr>
        </table>
    </div>
    <button ng-click="nextStage()">Następny etap</button>
    <button ng-click="prevStage()">Poprzedni etap</button>
</div>