/* Custom elements */
td.rmatrix-cell-current {
    background-color: #ffff00;
    .ui-widget-content;
}

td.rmatrix-cell-standard {
    .ui-widget-content;
}

td.rmatrix-cell-header {
    .ui-state-default;
}

body {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 12pt;
}



/* JQueryUI elements */
.ui-widget{
    font-size: 11pt !important;
}
.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    /*left: 10%;*/
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}