/* Custom elements */
td.rmatrix-cell-current {
    background-color: #ffff66;
    .ui-widget-content;
}

td.rmatrix-cell-standard {
    .ui-widget-content;
}

td.rmatrix-cell-header {
    .ui-state-default;
}

div.control-buttons {
    text-align: center;
}

body {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 12pt;
}

span {
    display: inline-block;
}

table.matrix-table {
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
    table-layout: fixed;
}
ul {
    list-style-position: inside;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

p.p-seq {
    width: 40%;
}

.div-imageHint {
    text-align: center;
}

.imageHint {
    max-width:75%;
    max-height: 75%;
    text-align: center;
}

#files {
    /*position: relative;*/

    width: 50px !important;
    max-width: 50px !important;
    /*overflow: hidden;*/

}

#file {
    position:absolute;
    left: -30%;
    z-index:99; /* bring the real upload interactivity up front */
    /* start of transparency styles */
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity:0);
    /* end of transparency styles */
}

#stage-table {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 100%;
    vertical-align: top;
    table-layout: fixed;
}

#stage-table td {
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
}

html, body {
    height: 100%;
}

.description {
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
    /*background-color: lightyellow !important;*/
}

.description p {
    padding: 10px;
    /*background-color: #ffff66;*/
}
.title {
    text-align: center;
}

/* JQueryUI elements */
.ui-widget{
    font-size: 11pt !important;
    border-radius: 8px !important;
}
.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    left: 30px;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.ui-state-highlight {
    background-color: lightyellow !important;
}